@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.forget-password {
    padding: 25px 0;
    background-color: #f6faff;

    @media all and (min-width:$small-medium) {
        padding: 40px 0;
    }

    .forget-box {
        background-color: $white;
        border-radius: 9px;
        box-shadow: 0 6px 9px 4px rgba(0, 0, 0, 0.3);
        max-width: 523px;
        margin: 0 auto;
        padding: 30px 15px 30px;

        @media all and (min-width:$small-medium) {
            padding: 43px 40px 67px 64px;
        }
    }

    h2 {
        @include fontsize(20px);
        font-weight: $fw-bold;
        color: $text-color;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-control {
        background-color: rgba(208, 218, 226, .27);
        border: 1px solid rgba(204, 213, 222, .49);
        border-radius: 4px;
        @include fontsize(14px);
        padding: 14px 15px 12px 15px;
        width: 100%;
        color: $text-color;
        margin-bottom: 0;
        line-height: 1.2;

        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .login-btn {
        border: 1px solid transparent;
        padding: 14px 10px;
        text-transform: capitalize;
        color: $white;
        @include fontsize(14px);
        font-weight: 700;
        text-align: center;
        width: 100%;
        background: $navy;
        border-radius: 6px;
        transition: all 0.5s;
        margin-top: 15px;

        &:hover {
            background-color: $white;
            border: 1px solid $navy;
            color: $navy;
        }
    }
    .input-label {
        color: #000;
        @include fontsize(16px);
        font-weight: $fw-semibold;
        margin-bottom: 10px;
        display: block;
      }

    .form-group {
        position: relative;
        margin-bottom: 28px;
    }
}