@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.account-details {
    padding: 0 0 100px;

    @media all and (min-width:$medium-992) {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
    }
}