@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.product-listing {
  .product-details {
    @media all and (min-width: $small-medium) {
      width: calc(100% - 270px);
    }

    @media all and (min-width: $medium) {
      width: calc(100% - 300px);
    }
  }
}

.product-details {
  h1 {
    font-family: $open-sans;
    font-weight: $fw-bold;
    color: $text-color;
    line-height: 1;
    @include fontsize(18px);
    text-transform: $capitalize;
    margin-bottom: 20px;
  }

  p {
    font-family: $open-sans;
    font-weight: $fw-regular;
    color: $black;
    @include fontsize(15px);
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .product-blocks {
    margin-bottom: 38px;
  }

  .product-discount {
    margin-bottom: 20px;

    .discount-categories-lists {
      display: $block;
      padding: 0 20px;
      position: relative;

      .slick-slider {
        overflow: hidden;
        position: static;
        border-radius: 6px 0px 0px 6px;

        .slick-arrow {
          &.slick-prev {
            position: absolute;
            left: -5px;
            border-radius: 50%;
            z-index: 2;
            transform: rotate(180deg);
            top: 43%;

            &.slick-disabled {
              display: none !important;
            }

            &::before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              margin: 0 auto;
              background: url(../../assets/images/slider-arrow.svg) no-repeat center/cover;
              height: 15px;
              width: 8px;
              background-size: 8px auto;
              top: 50%;
              transform: translateY(-50%);
              display: block;
              opacity: 1;
            }
          }

          &.slick-next {
            position: absolute;
            right: -5px;
            border-radius: 50%;
            z-index: 2;
            top: 46%;

            &.slick-disabled {
              display: none !important;
            }

            &::before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              margin: 0 auto;
              background: url(../../assets/images/slider-arrow.svg) no-repeat center/cover;
              height: 15px;
              width: 8px;
              background-size: 8px auto;
              top: 50%;
              transform: translateY(-50%);
              display: block;
              opacity: 1;
            }
          }
        }

        .slick-list {
          margin-left: -100%;

          @media screen and (min-width: $small-medium) {
            margin-left: -53%;
          }
        }

        .about-discount {
          max-width: fit-content;
          margin-bottom: 0;

          &:last-child {
            margin-right: 12px;
          }
        }
      }
    }
  }
}



.main-wrapper {
  margin-bottom: 40px;

  @media screen and (min-width: $small-medium) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
  }

  .ltl-wrapper {
    background: $white;
    border: 1px solid $white-secondary;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    margin-bottom: 30px;

    @media all and (min-width: $small-medium) {
      width: 245px;
    }

    @media all and (min-width: $medium) {
      width: 268px;
      margin-bottom: 0;
    }
  }
}


.brands-wrap {
  .slick-arrow {
    &.slick-prev {
      background-color: $color-gray;
      height: 38px;
      width: 38px;
      position: absolute;
      left: -9px;
      border-radius: 50%;
      z-index: 2;

      &.slick-disabled {
        display: none !important;
      }

      @media all and (min-width: $small-medium) {
        height: 48px;
        width: 48px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: url(../../assets/images/arrow-icon-right.svg) no-repeat center/cover;
        height: 15px;
        width: 8px;
        background-size: 8px auto;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        opacity: 1;

        @media all and (min-width: $small-medium) {
          height: 24px;
          width: 13px;
          background-size: 13px auto;
        }
      }
    }

    &.slick-next {
      background-color: $color-gray;
      height: 38px;
      width: 38px;
      position: absolute;
      right: -9px;
      border-radius: 50%;
      z-index: 2;

      &.slick-disabled {
        display: none !important;
      }

      @media all and (min-width: $small-medium) {
        height: 48px;
        width: 48px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: url(../../assets/images/arrow-icon-left.svg) no-repeat center/cover;
        height: 15px;
        width: 8px;
        background-size: 8px auto;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        opacity: 1;

        @media all and (min-width: $small-medium) {
          height: 24px;
          width: 13px;
          background-size: 13px auto;
        }
      }
    }
  }

  @media screen and (min-width: $small-medium) {
    display: none;
  }

  &.desktop-data {
    display: none;

    @media screen and (min-width: $small-medium) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 10px;
    }

    @media screen and (min-width: $r-1300) {
      grid-column-gap: 22.4px;
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .slick-list {
    margin-right: -10px;

    .category-boxes {
      a {
        .image-wrap {
          img {
            transition: all 0.5s;
          }
        }
      }
    }
  }

  .category-boxes {
    border: 1px solid $category-border;
    border-radius: 6px;
    width: auto;
    margin-right: 10px;
    transition: 0.5s;

    @media screen and (min-width: $small-medium) {
      margin: 0 0 20px;
      width: 100%;
    }

    @media screen and (min-width: $r-1300) {
      margin-bottom: 48px;
    }

    &:hover {
      transform: scale(1.05);
      border: 1px solid $base-color;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
      border-radius: 6px;
      background-color: $white;

      // @media screen and (min-width: $desktop) {
      //   border-width: 1.5px;
      // }

      @media screen and (min-width: $base-media) {
        transform: scale(1.08);
      }
    }

    a {
      padding: 30px 12px 18px;

      @media screen and (min-width: $r-1300) {
        padding: 50px 12px 26px;
      }

      .image-wrap {
        @media screen and (min-width: $desktop) {
          margin-bottom: 29px;
          height: 66px;
        }
      }

      .category-title {
        text-transform: initial;
        @include fontsize(13px);
        line-height: 1.3;

        @media screen and (min-width: $r-1300) {
          @include fontsize(18px);
          line-height: 1.2;
        }
      }
    }
  }
}

.discount-categories {
  .discount-categories-lists {
    @media screen and (min-width: $small-medium) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    @media screen and (min-width: $r-1300) {
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;

      .about-discount {
        @media screen and (min-width: $small-medium) {
          max-width: none;
        }
      }
    }

    .about-discount {
      text-transform: $uppercase;
      position: relative;
      height: 185px;
      margin-bottom: 15px;
      @include transition(0.3s);

      &:hover {
        opacity: 0.8;
      }

      @media screen and (min-width: $small-medium) {
        margin-bottom: 0;
        max-width: 680px;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }

      @media screen and (min-width: $r-1300) {
        height: 200px;
        margin-right: 24px;
      }

      &.discount-upto {
        .discount-details {
          h4 {
            margin-bottom: 5px;
          }
        }
      }

      &.interior-discount {
        .discount-details {
          h4 {
            font-family: "Jost* 600 Semi";
            font-weight: normal;
            margin-bottom: 5px;

            @media screen and (min-width: $r-1300) {
              margin-bottom: 8px;
            }
          }

          .save-text {
            font-family: "Jost* 500";
            font-weight: 500;
            margin-bottom: 0;
            opacity: 1;
            text-transform: initial;
          }
        }
      }

      a {
        display: block;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .discount-details {
          @include abs(0, 0, 0, 0);
          margin: auto;
          @include flex-property(flex, center, center);
          flex-direction: column;
          text-align: $align-center;
          padding: 12px;

          .save-text {
            font-family: "Oswald";
            font-weight: 400;
            opacity: 0.65;
            color: $white;
            @include fontsize(19px);
            line-height: 1;
            display: $block;
            margin-bottom: 5px;

            @media screen and (min-width: $r-1300) {
              @include fontsize(24px);
              margin-bottom: 8px;
            }
          }

          .filter-text {
            font-family: "Oswald";
            font-weight: 400;
            @include fontsize(20px);
            color: $white;
            margin-bottom: 5px;
            line-height: 1;

            @media screen and (min-width: $r-1300) {
              @include fontsize(30px);
              margin-bottom: 8px;
            }
          }

          h4 {
            font-family: "Oswald";
            font-weight: 500;
            @include fontsize(30px);
            color: $white;
            margin-bottom: 0;
            line-height: 1;

            @media screen and (min-width: $small-medium) {
              @include fontsize(22px);
            }

            @media screen and (min-width: $desktop) {
              @include fontsize(26px);
            }

            @media screen and (min-width: $r-1300) {
              @include fontsize(42px);
            }
          }
        }
      }
    }
  }
}
